
.roboto {
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-900 {
  font-family: "Roboto";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.ebay-font {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}